@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims;

@{
    ViewData["Title"] = "Home";
}

<div class="flex flex-row justify-center mt-52">
    <div class="flex flex-col w-[350px]">
        <h1 class="text-4xl font-bold">Account Center</h1>

        <hr class="my-4" />

        @if (User.Identity.IsAuthenticated)
        {
            var authenticationResult = await Context.AuthenticateAsync();
            var issued = authenticationResult.Properties.Items[".issued"];
            var expires = authenticationResult.Properties.Items[".expires"];
            var id = @User.Claims.SingleOrDefault(m => m.Type == ClaimTypes.NameIdentifier).Value;

            <div class="flex flex-col gap-5">
                <h1 class="text-xl font-semibold">You are signed in.</h1>

                <div>
                    <p>User ID: @id</p>

                    <dl>
                        <dt>Issued:</dt>
                        <dd>@issued</dd>
                        <dt>Expires:</dt>
                        <dd>@expires</dd>
                    </dl>
                </div>

                <a asp-action="Logout" asp-controller="Account" class="flex justify-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                    Logout
                </a>
            </div>
        }

        @if (!User.Identity.IsAuthenticated)
        {
            <div class="flex flex-col gap-5">
                <h1 class="text-xl font-semibold">You are not signed in.</h1>

                <div class="flex flex-col gap-2">
                    <a asp-action="Login" asp-controller="Account" class="flex justify-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                        Login
                    </a>
                    <a asp-action="Register" asp-controller="Account" class="flex justify-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                        Register
                    </a>
                </div>
            </div>
        }
    </div>
</div>