<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login?returnUrl=@ViewBag.ReturnUrl" method="post">
        <input name="username" value="Test_User_01" type="hidden" />
        <input name="password" value="abc123456789" type="hidden" />
        <input value="Submit" type="submit" />
    </form>
</body>
</html>